:root {
    --color-primary : #2b6777;
    --color-secondary : #c8d8e4;
    --color-background : #ffffff;
    --color-text : #52ab98;
    --color-error :#ff6161;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: ubuntu , Arial, Helvetica, sans-serif;
}
body{
    max-width: 1400px;
    margin: auto;
}
header{
    color: var(--color-primary);
    padding: 30px 0px ;
}
main{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
#products{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}
#products > div { 
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 20px 0px var(--color-secondary);
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
} 
#products img {
    width: 300px;
    border-radius: 25px;
}
#product-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-secondary);
    width: 100%;
    border-radius: 25px;
    height: 120px;
    padding: 20px;
    margin-top: 30px;
}
#product-info h3{
    color: var(--color-primary);
    font-size: 1.3rem;
}
#product-info span{
    font-size: 1.1rem;
    color: var(--color-text);
}
#product-info button { 
    background-color: var(--color-background);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--color-primary);
    cursor: pointer;
    box-shadow: 0px 0px 20px var(--color-primary);
    align-self: self-end;
    transition: all 0.2s ease-in;
}
#product-info button:hover{
    background-color: var(--color-primary);
    color: #ffffff;
 }
#info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#cart{
    width: 320px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 20px 0px var(--color-secondary);
    border-radius: 30px;
    padding: 10px;
    margin: 0px 30px;

}
#cart>h3{
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    background-color: var(--color-primary);
    color: var(--color-background);
    border-radius: 20px;
    margin-bottom: 20px;

}
#cart-list{
    padding: 10px 0px;
    width: 300px;
}
#cart-list > div{
    width: 100%;
    height: fit-content;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 10px;
    
}
#cart-list div img{
width: 63px;
border-radius: 50%;
}
#cart-info{
    color: var(--color-primary);
    width: 100px;
}
#cart-list h5{
    border: var(--color-error) 1px solid;
    color: var(--color-error);
    width: 100%;
    padding: 30px 0px;
    text-align: center;
    border-radius:20px ;
}
#cart-list p{
    color: var(--color-text);
}
#cart-list button{
    border-radius: 50px;
    padding: 5px 10px;
    cursor: pointer;
}

#cart-control div{
    margin-bottom: 5px;

}
#cart-list button {
    transition: all 0.2s ease;
}
#dec , #inc {
    border: none;
}
#dec:hover{
    background-color: var(--color-error);
    color: var(--color-background);

}
#inc:hover{
    color: var(--color-background);
    background-color: var(--color-primary);
}
#remove{
border: none;
}
#remove:hover{
    background-color: var(--color-error);
    color: #fff;
}
